<%= form_for(@student) do |f| %>
  <label>First name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>